@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap");
html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:disabled {
  background-color: black;
  color: linen;
  opacity: 0.8;
}
*:disabled:hover {
  text-decoration: none;
  opacity: 0.2;
}

body {
  max-width: 100%;
  max-height: 100%;
  background-image: radial-gradient(circle at center, black 0.1rem, transparent 0), radial-gradient(circle at center, black 0.1rem, transparent 0);
  background-size: 1.3rem 1.3rem;
  background-position: 0 0, 0.65rem 0.65rem;
  background-color: #f2f2f2;
  z-index: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

footer {
  background-color: #ffec3a;
}

.progress-container {
  height: 2rem;
  width: 32rem;
  border-radius: 1rem;
  background: #2049f7;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 1rem;
  background: #ff574a;
  transition: width 0.4s ease-out;
}

.banner {
  display: flex;
  flex-flow: column nowrap;
}
.banner__containerTop {
  font-family: "Gloock", serif;
  font-size: x-large;
  display: flex;
  height: 5rem;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 8px 0px 1px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.banner__containerTop__buttonLangue {
  padding: 1rem 2rem;
  border: solid;
  border-width: 1px;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffec3a;
}
.banner__containerTop__buttonLangue:hover {
  background-color: #edd600;
}
.banner__containerTop__buttonLangue:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.banner__containerBottom {
  font-family: "Gloock", serif;
  font-size: x-large;
  display: flex;
  height: 5rem;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #ffec3a;
  align-items: center;
  border: solid;
  border-width: 1px;
  justify-content: space-evenly;
}
.banner__containerBottom__a {
  max-height: 100%;
}
.banner__containerBottom__a__img {
  margin: 0 5px 0 5px;
  width: 40%;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.statistics__statBox {
  color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}
.statistics__statBox--gauche {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  color: #f7f7f7;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 25px;
  background-color: #ff5649;
  padding: 1rem 4rem;
}
.statistics__statBox--droite {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  color: #f7f7f7;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 25px;
  background-color: #1f48f7;
  padding: 1rem 4rem;
}

.votingCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.votingCard > div {
  height: 60%;
  width: 20%;
}

.personnage {
  height: 300px;
  width: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  background-color: #ffec3a;
  box-shadow: 0px 14px 0px 1px rgba(0, 0, 0, 0.1);
  text-shadow: -2px -1px black, 1px 2px black, 2px 1px black, -1px -2px black;
  color: #f7f7f7;
}
.personnage__img {
  padding-top: 10px;
  max-width: 100%;
  max-height: 75%;
}

.stat, .personnage {
  margin: 10% 0 10% 0;
  grid-column: 5/9;
  text-align: center;
}

.console {
  height: 30%;
  grid-column: 4/10;
  display: flex;
  flex-flow: column wrap;
  column-gap: 100px;
}
.console__containerTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.console__containerTop__button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  color: #f7f7f7;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 25px;
  padding: 2rem 8rem;
  background-color: #ffec3a;
}
.console__containerTop__button:hover {
  background-color: #edd600;
}
.console__containerTop__button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.console__containerBottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.console__containerBottom__button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  color: #f7f7f7;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 25px;
  padding: 2rem 8rem;
}
.console__containerBottom__button--left {
  background-color: #ff5649;
}
.console__containerBottom__button--left:hover {
  background-color: #fc1200;
}
.console__containerBottom__button--left:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.console__containerBottom__button--right {
  background-color: #1f48f7;
}
.console__containerBottom__button--right:hover {
  background-color: #072bc3;
}
.console__containerBottom__button--right:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* si besoin de rajouter un bouton suivant sur le côté */
.sideButton {
  position: absolute;
  right: 18%;
  top: 35%;
  overflow-x: hidden;
  background-color: #ffec3a;
  padding: 8rem 2rem;
}

#a-tittle:link {
  color: black;
  text-decoration: none;
}

#a-tittle:active {
  color: black;
  text-decoration: none;
}

#a-tittle:visited {
  color: black;
  text-decoration: none;
}

#a-tittle:hover {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */