$color-primary: #ffec3a;
$color-secondary: #f7f7f7 ;
$color-gauche: #ff5649;
$color-droite: #1f48f7;
$background: #2c303a;


@import url('https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap');

@mixin ButtonHoverAndClick($color){
    &:hover{
        background-color: darken($color: $color, $amount: 15%);
    };
    &:active{
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
}

@mixin displayCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin block{
    margin: 10% 0 10% 0 ;
    grid-column:5/9 ;
    text-align: center;
}

@mixin bg($colour){
    background-color: $colour;
}

@mixin border{
    border: solid;
    border-width: 1px;
}

@mixin bannerColorAndSize($color){
    font-family: 'Gloock', serif;
    font-size: 2vw;
    display: flex;
    height: 5rem;
    width: 100%;
    flex-flow: row nowrap;
    background-color: $color;
    align-items: center;
}

@mixin font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    padding-bottom: 4vw;
}

@mixin boutonLike{
    @include font;
    @include border;
    color: $color-secondary;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.1);
    margin: 10px;
}

$breakpoints: (
    xs : 576px,
    s : 768px,
    m : 992px,
    l : 1200px,
    xl : 1400px,
);

@mixin xs {
    @media screen and (max-width: map-get($map: $breakpoints, $key: xs)){
        @content;
    }
}

@mixin s {
    @media screen and (max-width: map-get($map: $breakpoints, $key: s)){
        @content;
    }
}

@mixin m {
    @media screen and (max-width: map-get($map: $breakpoints, $key: m)){
        @content;
    }
}

@mixin l {
    @media screen and (max-width: map-get($map: $breakpoints, $key: l)){
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: map-get($map: $breakpoints, $key: xl)){
        @content;
    }
}

html{
    height: 100%;
    width: 100%;
}
  
* {
    margin: 0;
    padding: 0;
}

*:disabled {
    background-color: black;
    color: linen;
    opacity: 0.8;
    &:hover{
        text-decoration: none;
        opacity: 0.2;
    }
}

body{
    min-width: 100%;
    min-height: 100%;
    background-image: radial-gradient(
        circle at center,
        black 0.1rem,
        transparent 0
      ), radial-gradient(circle at center, black 0.1rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
    background-color: darken($color: $color-secondary, $amount: 2%);
    z-index: 0;
}

footer{
    background-color: $color-primary;
}


.progress-container {
    height: 5vh;
    width: 50vw;
    border-radius: 1rem;
  
    background: lighten($color: $color-droite, $amount: 0.2);
  }
  
  .progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: 1rem;
  
    background: lighten($color: $color-gauche, $amount: 0.2);
  
    transition: width 0.4s ease-out;
  }
  

.banner{
    display: flex;
    flex-flow: column nowrap;
        &__containerTop{
            @include bannerColorAndSize($color-secondary);
            justify-content:space-around;
            box-shadow: 0px 8px 0px 1px rgba(0,0,0,0.05);
            z-index: 1;
                &__buttonLangue{
                    padding: 2vh 2vw;
                    @include border;
                    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.1);
                    background-color: $color-primary;
                    @include ButtonHoverAndClick($color-primary)
                }
        }
        &__containerBottom{
            @include bannerColorAndSize($color-primary);
            @include border;
            justify-content: space-evenly;
            &__a{
                max-height: 100%;
                &__img{
                    margin: 0 5px 0 5px;
                    width: 40%;
                }
            }

        }
}

.statistics{
    @include displayCenter();
    margin-bottom : 50px;
        &__statBox{
            color: $color-secondary;
            display: flex;
            justify-content: space-between;
            &--gauche{
                @include boutonLike;
                background-color: $color-gauche;
                padding : 2vh 2vw;
            };
            &--droite{
                @include boutonLike;
                background-color: $color-droite;
                padding : 2vh 2vw;
            }
            &--nombreDeVote{
                @include boutonLike;
                background-color: $color-primary;
                padding : 2vh 2vw;
            }
    }
}


.votingCard{
    @include displayCenter();
    &>div{
        height: 60%;
        width: 20%;
    }
}

.personnage{
    height: 25vh;
    width: 15vw;
    @include font;
    @include border;
    background-color: $color-primary;
    box-shadow: 0px 14px 0px 1px rgba(0,0,0,0.1);
    text-shadow: -2px -1px black, 1px 2px black, 2px 1px black, -1px -2px black;
    color: $color-secondary;
        &__img{
            padding-top: 10px;
            max-width: 100%;
            max-height: 75%;
        }
}

.stat, .personnage{
    @include block;
}

.console{
    display: flex;
    flex-flow: column wrap;
    column-gap: 5%;
    &__containerTop{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        &__button{
            @include boutonLike;
            padding: 2vh 8vw;
            @include bg($color-primary);
            @include ButtonHoverAndClick($color-primary)
            }
        }
    &__containerBottom{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        &__button{
            @include boutonLike;
            padding: 2vh 8vw;
            &--left{
                @include bg($color-gauche);
                @include ButtonHoverAndClick($color-gauche)
            }
            &--right{
                @include bg($color-droite);
                @include ButtonHoverAndClick($color-droite)
            }
        }
    }
}

  #a-tittle:link{
    color: black;
    text-decoration: none;
  }

  #a-tittle:active{
    color: black;
    text-decoration: none;
  }

  #a-tittle:visited{
    color: black;
    text-decoration: none;
  }

  #a-tittle:hover{
    color: black;
    text-decoration: none;
  }