$color-primary: #ffec3a;
$color-secondary: #f7f7f7 ;
$color-gauche: #c31313;
$color-droite: #050f8b;

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap');

@mixin block{
    margin: 10% 0 10% 0 ;
    grid-column:5/9 ;
    text-align: center;
}

@mixin bg($colour){
    background-color: $colour;
}

@mixin border{
    border: solid;
    border-width: 1px;
}

@mixin bannerColorAndSize($color){
    font-family: 'Gloock', serif;
    font-size: x-large;
    display: flex;
    height: 5rem;
    width: 100%;
    flex-flow: row nowrap;
    background-color: $color;
    align-items: center;
}

@mixin font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

html{
    height: 100%;
    width: 100%;
}
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    flex-flow: column nowrap;
        &__containerTop{
            @include bannerColorAndSize($color-secondary);
            justify-content:space-around;
            box-shadow: 0px 8px 0px 1px rgba(0,0,0,0.05);
            z-index: 1;
                &__buttonLangue{
                    padding: 1rem 2rem;
                }
        }
        &__containerBottom{
            @include bannerColorAndSize($color-primary);
            @include border;
            justify-content: center;
            &__img{
                margin: 0 10px 0 10px;
                height: 50%;
                max-height: 100%;
                max-width: 100%;
            }
        }
}


section{
    background-color: $color-secondary;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo{
    width: 4rem;
    height: 4rem;
}

footer{
    background-color: $color-primary;
}

.personnage{
    @include font;
    @include border;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
    padding: 5% 0 5% 0;
    background-color: $color-primary;
    box-shadow: 0px 14px 0px 1px rgba(0,0,0,0.1);
}

.stat, .personnage{
    @include block;
}

.console{
    grid-column: 4/10;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 100px;
    &__button{
        @include font;
        @include border;
        color: black;
        margin: 25px;
        padding: 2rem 8rem;
        &--left{
                @include bg($color-gauche)
            }
            &--right{
                @include bg($color-droite)
            }
            &--random{
                @include bg($color-primary)
            }
    }
}

.sideButton {
    position: absolute;
    right: 18%;
    top: 35%;
    overflow-x: hidden;
    background-color: $color-primary;
    padding: 8rem 2rem;
  }